.container {
  height: 250px;
  border-top: 3px solid #000;
  display: flex;
  justify-content: space-around;
  font-size: 18px;
  padding: 50px;
  align-items: center;
}

.title {
  font-weight: 500;
  color: #fff;
  background-color: green;
  padding: 5px;
  width: max-content;
}

.linkTitle {
  text-decoration: underline;
  margin-top: 30px;
}

.link {
  display: flex;
  align-items: center;
}

.linkText {
  margin-right: 20px;
}

.cardL {
  flex: 3;
}

.cardS {
  flex: 1;
}

.cardItem {
  font-size: 14px;
  margin-bottom: 20px;
}

@media screen and (max-width: 480px) {
  .container {
    height: auto;
    padding: 20px;
    flex-direction: column;
    align-items: center;
  }
  .title,
  .linkText {
    font-size: 30px;
  }
  .cardItem {
    text-align: center;
  }
  .cardL {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .cardS {
    flex: 1;
    margin-top: 10px;
  }
  .link {
    justify-content: center;
  }
}
