.container {
  height: 50px;
  background-color: black;
  color: white;
  padding: 0 100px;
  display: flex;
  align-items: center;
  font-size: 18px;
  justify-content: space-between;
}

.list {
  list-style-type: none;
}

.listItem {
  display: inline;
  margin-right: 14px;
  font-size: 14px;
  cursor: pointer;
  color: lightgrey;
}
