.container {
  display: flex;
  padding: 50px;
}

.cardL {
  flex: 2;
  display: flex;
  flex-wrap: wrap;
}

.cardS {
  flex: 1;
}

.imgContainer {
  width: 30%;
  margin: 5px;
  position: relative;
}

.imgContainer:nth-child(3) {
  border-top-right-radius: 50%;
  overflow: hidden;
}

.title {
  font-size: 60px;
  margin: 20px 0 30px 0;
}

.button {
  padding: 15px;
  background-color: green;
  color: white;
  border: none;
  font-size: 20px;
  border-radius: 10px;
  margin-top: 50px;
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .container {
    flex-direction: column-reverse;
    padding: 30px;
    text-align: center;
  }
  .imgContainer {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
  }
  .cardL {
    justify-content: center;
    margin-top: 30px;
  }
  .cardL::before {
    content: 'Projects';
    width: 100%;
    font-size: 40px;
    margin-bottom: 20px;
  }
}
